
<link rel="stylesheet" href="/css/style.css" />

<body>
 

    <nav class="navbar">
        <a class="navbar-brand">Today's Date is: {{format_time }}</a>

    </nav>
    <div class="container-fluid opacity">
        <div class="row">
            <div class="col-4 list-container">
                <div class="card opacity">
                    <ul class="list-group"></ul>
                </div>
            </div>
            <div class="col-8">
                <input class="note-title opacity text-light " placeholder="Enter Your Title Here" maxlength="28" type="text" />
                <textarea class="note-textarea opacity text-white" placeholder="Tell me about your day"></textarea>
            </div> 
            <button type="button" class="btn btn-outline-primary" id="save-note">Save</button>
        </div>

    </div>

    </div>
    <script src="/js/diary.js"></script>
</body>

</html>