<h2>Today's Date is: {{format_time }}<span class="badge bg-secondary"></span></h2>
 <div class="container-fluid">
      <div class="row">
        <div class="col-4 list-container">
          <div class="card">
            <ul class="list-group"></ul>
          </div>
        </div>
        <div class="col-8">
          <input
            class="note-title"
            placeholder="Today is" 
            maxlength="28"
            type="text"
            
          />
          <textarea class="note-textarea" placeholder="My Thoughts For Today"></textarea>
        </div>
      </div>
    </div>