<body>

    <nav class="navbar">
        <a class="navbar-brand">Today's Date is: {{format_time }}</a>

    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 list-container">
                <div class="card">
                    <ul class="list-group"></ul>
                </div>
            </div>
            <div class="col-8">
                <input class="note-title" placeholder="Enter Your Title Here" maxlength="28" type="text" />
                <textarea class="note-textarea" placeholder="Tell me about your day"></textarea>
            </div>
            <button type="button" class="btn btn-outline-primary" id="save-diary">Save</button>
        </div>

    </div>

    </div>
    <script src="/js/diary.js"></script>
</body>

</html>