body {
    background: url(/images/nature-background-nawpic-20.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: blueviolet;
  }